workflow/OSiaBHf6brLCsb6K.json
{
  "active": true,
  "connections": {
    "Globals": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "JSON formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON formatting": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Return": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-02T13:59:07.012Z",
  "id": "OSiaBHf6brLCsb6K",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Backup Workflow n8n",
  "nodes": [
    {
      "parameters": {},
      "id": "83b61b8a-0c75-427f-84ca-bec09082605c",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        300,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 751,
        "width": 2407,
        "color": 6
      },
      "id": "d2cc17bc-2006-41c3-ade5-bcc17a2452fc",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -140,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "a0f99957-7ae5-4083-b496-56459b66ee07",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        1740,
        840
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "cd6e4962-8edc-41b7-9e2a-0bc04efcab70",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1000,
        720
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "83dfb151-ae74-475d-8b45-6df151430618",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        640,
        740
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "16d1e76e-278d-43b6-867b-c2fb0549fbd3",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        640,
        1000
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"
      },
      "id": "a4315216-8dac-4428-ad52-dcb3e579ea91",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        840,
        1000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.github_status}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "e54c23d4-1e63-45c3-9175-e977a05faddf",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1060,
        1000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "517c9171-c221-4126-bb78-e50231fa322e",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1280,
        840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0250c60e-1694-475e-a066-05f3b830511d",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1280,
        1000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "71f89a88-70f6-464f-92e1-f45b6952e526",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1280,
        1160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.name }}"
        },
        "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "bdaa1499-88a6-47a6-9fbc-7e76be4f56ee",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        1500,
        1160
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "JKpvjUybyvaj5Mfz",
          "name": "GitHub backup"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.name }}"
        },
        "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "194b6a9f-ab3c-44d9-810e-5d5e13187807",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        1500,
        980
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "JKpvjUybyvaj5Mfz",
          "name": "GitHub backup"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "35cf41e1-8c02-43b3-b598-f810bcdbe4aa",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        900,
        360
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 10
            }
          ]
        }
      },
      "id": "308fbce8-bb70-4d8d-8a6d-b42f213e814b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        300,
        460
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Sao lưu vào GitHub\nQuy trình công việc này sẽ sao lưu tất cả thông tin xác thực của phiên bản vào GitHub.\n\nCác tệp được lưu dưới dạng `ID.json` cho tên tệp.\n\n### Thiết lập\nMở nút `Globals` và cập nhật các giá trị bên dưới 👇\n\n- **repo.owner:** tên người dùng Github của bạn\n- **repo.name:** tên kho lưu trữ của bạn\n- **repo.path:** thư mục để sử dụng trong kho lưu trữ. Nếu không tồn tại, thư mục sẽ được tạo.\n\nNếu tên người dùng của bạn là `john-doe` và kho lưu trữ của bạn được gọi là `n8n-backups` và bạn muốn thông tin xác thực được đưa vào thư mục `credentials`, bạn sẽ đặt:\n\n- repo.owner - tranvandinh0906\n- repo.name - backup-n8n\n- repo.path - workflows/\n\nQuy trình công việc tự gọi bằng quy trình công việc phụ để giúp giảm mức sử dụng bộ nhớ.",
        "height": 596.4810912485963,
        "width": 365.19481715599653,
        "color": 4
      },
      "id": "37266204-6d86-4b3c-8ee8-cf7cf477c1a4",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -140,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 435,
        "width": 1489,
        "color": 7
      },
      "id": "af9e2e12-7d78-4af9-8f23-e23023e3b7a9",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.name }}"
        },
        "filePath": "={{ $json.repo.path }}{{ $('Execute Workflow Trigger').item.json.id }}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "5f01e1fb-5a03-4bd9-a9c4-aa46eca64b55",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        440,
        740
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "JKpvjUybyvaj5Mfz",
          "name": "GitHub backup"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
              "name": "repo.owner",
              "type": "string",
              "value": "tranvandinh0906"
            },
            {
              "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
              "name": "repo.name",
              "type": "string",
              "value": "backup_n8n"
            },
            {
              "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
              "name": "repo.path",
              "type": "string",
              "value": "workflow/"
            }
          ]
        },
        "options": {}
      },
      "id": "44f7f263-4a52-41f1-a29a-0eb8331478eb",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        240,
        900
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "command": "n8n export:workflow --all"
      },
      "id": "90677358-b57a-4518-add0-63d2b39c2f78",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        520,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Hàm làm đẹp JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Phân tích chuỗi JSON\n    const jsonObject = JSON.parse(jsonString);\n\n    // Trả về đối tượng JSON đã phân tích (JavaScript sẽ tự động làm đẹp với dấu cách)\n    return jsonObject; \n  } catch (error) {\n    // Nếu có lỗi trong quá trình phân tích, trả về thông báo lỗi\n    return `JSON không hợp lệ: ${error.message}`;\n  }\n}\n\n// Lấy dữ liệu đầu vào\nconst input = $input.all()[0].json;\n\n// Trích xuất chuỗi JSON từ trường 'stdout' trong dữ liệu đầu vào\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Kiểm tra nếu không tìm thấy chuỗi JSON hợp lệ\nif (!jsonString) {\n  return {\n    json: {\n      error: \"Không tìm thấy chuỗi JSON hợp lệ trong stdout.\"\n    }\n  };\n}\n\n// Làm đẹp chuỗi JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Trả về kết quả đã làm đẹp, mỗi mục trong chuỗi JSON sẽ nằm trong một đối tượng có trường 'json'\nconst output = beautifiedJson.map(entry => ({ json: entry }));\n\n// Trả về kết quả cuối cùng\nreturn output;\n"
      },
      "id": "a343534e-7bcd-4dfc-960e-6644df9011d5",
      "name": "JSON formatting",
      "type": "n8n-nodes-base.code",
      "position": [
        700,
        360
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Edit this node 👇",
        "height": 80,
        "width": 150,
        "color": 4
      },
      "id": "c53556d5-09be-4b55-b78c-8bf0fc0c06dc",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        200,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id }}",
        "mode": "each",
        "options": {}
      },
      "id": "3d34e104-3b9c-46f2-b51f-5b73b20c0f9d",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1180,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "0f675da1-0e17-4b6d-b027-120174d75856",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -40,
        1020
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "chatId": "5846388554",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1520,
        260
      ],
      "id": "fc14d912-d4ae-44c7-90a8-02b7512b11a8",
      "name": "Telegram",
      "webhookId": "745b3e76-efd0-485e-9b56-7750668c4230",
      "credentials": {
        "telegramApi": {
          "id": "OcRPzTFrrHbXXaiH",
          "name": "@backup_n8n_dinhtranmmo_bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Đếm số lượng item từ node trước\nconst itemCount = items.length;\n\nreturn [\n  {\n    json: {\n      message: `Đã backup xong ${itemCount} workflow!`\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        260
      ],
      "id": "b270fdda-fed6-420c-8192-85ac9f6b4d34",
      "name": "Code"
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "createdAt": "2025-03-31T05:01:58.955Z",
          "updatedAt": "2025-03-31T05:02:47.176Z",
          "id": "DR1F0vbweJZ0A0qb",
          "name": "dinhtranmmo - Bot lấy User ID và ChatID",
          "data": {
            "accessToken": "7900821057:AAHebw3DWpIVTxZQwrKFHG0oGgPAqk0x8vI"
          },
          "type": "telegramApi",
          "isManaged": false
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        20
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2025-04-03T04:42:28.708Z",
      "updatedAt": "2025-04-03T04:42:28.708Z",
      "id": "NDfjzmO2xixBm0kw",
      "name": "n8n"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-03T11:51:06.000Z",
  "versionId": "aaf1b084-7c2c-465b-9f0a-149323a80a3f"
}