workflow/zKyAM80e6vMoCFAn.json
{
  "active": true,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Microsoft Excel 365",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-03T06:15:18.890Z",
  "id": "zKyAM80e6vMoCFAn",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bot đọc tin tức VNexpress",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        120,
        -140
      ],
      "id": "1b80e469-96dd-4c87-b488-adb5b0f32262",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://vnexpress.net/rss/the-gioi.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        100
      ],
      "id": "b51f0e09-a171-49ad-bd24-92ee34a29548",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        560,
        100
      ],
      "id": "f9e95691-e0cf-43a3-975b-739b7e917179",
      "name": "XML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "rss.channel.item",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        780,
        100
      ],
      "id": "0bf56272-ac02-4d00-953d-5a638ab39c7a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        120,
        380
      ],
      "id": "d611e7df-bc16-4ce3-bde6-1a43e3b58477",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        380
      ],
      "id": "c1c12f8b-6053-4853-a73e-a636e95712c5",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "data",
              "cssSelector": "p.Normal",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        480,
        380
      ],
      "id": "f0839903-3b60-4811-a1bf-16eaf2d4b4ae",
      "name": "HTML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ec2e23f-9b6c-4379-b4b5-2b98af1d6aa7",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        380
      ],
      "id": "df96686f-0085-4717-8dda-573d564128e5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tôi có một bài báo này. Hãy tóm tắt bài báo trong 5-7 câu với ngôn ngữ tự nhiên hết sức có thể, giọng văn đời thường. Ngoài tóm tắt ra, không nói gì thêm!\n {{ $json.data }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        100,
        620
      ],
      "id": "57aa061a-fedc-496d-b9e0-bac60053dce4",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        100,
        780
      ],
      "id": "4ee90b2d-47c6-4c2a-bd3e-e8cdc9ae25b3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SYYWl7FeddjBCXyz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5846388554",
        "text": "=<b>Tin mới: {{ $('Limit').item.json.title }}</b>\n\n<i>{{ $json.output }}</i>\n\nChi tiết: {{ $('Limit').item.json.link }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        520,
        620
      ],
      "id": "e7fa430a-3776-4098-be3d-a2bc15d4fc39",
      "name": "Telegram",
      "webhookId": "a58964a1-a0d0-49cc-bb10-818758f285e9",
      "credentials": {
        "telegramApi": {
          "id": "OcRPzTFrrHbXXaiH",
          "name": "@backup_n8n_dinhtranmmo_bot"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        120,
        100
      ],
      "id": "5a789d54-9392-4de9-a095-1acf294e9246",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "append",
        "workbook": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "worksheet": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": ""
        },
        "fieldsUi": {
          "values": [
            {
              "column": "Title",
              "fieldValue": "={{ $('Limit').item.json.title }}"
            },
            {
              "column": "Contents",
              "fieldValue": "={{ $json.output }}"
            },
            {
              "column": "URL",
              "fieldValue": "={{ $('Limit').item.json.link }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        460,
        800
      ],
      "id": "efdf2646-5a82-45b2-9e0f-000d8c18bcd6",
      "name": "Microsoft Excel 365",
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-03T06:33:38.000Z",
  "versionId": "67a3879e-0494-4255-a628-d9216a67cf81"
}