credentials/5nEuajENsSqtKbkx.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "thu chi",
            "type": "main",
            "index": 0
          },
          {
            "node": "số tiền",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "thu chi": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "số tiền": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets6": {
      "main": [
        [
          {
            "node": "Google Sheets7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets7": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Telegram4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Google Sheets8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets8": {
      "main": [
        [
          {
            "node": "Google Sheets9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets9": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Telegram5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets10": {
      "main": [
        [
          {
            "node": "Google Sheets11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets11": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "Telegram6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Google Sheets12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets12": {
      "main": [
        [
          {
            "node": "Google Sheets13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets13": {
      "main": [
        [
          {
            "node": "AI Agent6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent6": {
      "main": [
        [
          {
            "node": "Telegram7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent6",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets14": {
      "main": [
        [
          {
            "node": "Google Sheets15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets15": {
      "main": [
        [
          {
            "node": "AI Agent7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent7": {
      "main": [
        [
          {
            "node": "Telegram8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent7",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-02T15:12:25.073Z",
  "id": "5nEuajENsSqtKbkx",
  "meta": null,
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2460,
        800
      ],
      "id": "dd863b1f-ef57-46a4-873d-1f60056a0799",
      "name": "Telegram Trigger",
      "webhookId": "4b91fe40-4bcd-4dd9-b293-aca2a87fe09c",
      "credentials": {
        "telegramApi": {
          "id": "DR1F0vbweJZ0A0qb",
          "name": "dinhtranmmo - Bot lấy User ID và ChatID"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "95611c9a-d609-4c57-9a12-72674d2c0e55",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/thu",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "f148e624-bab9-47fe-8e29-f6985f4cddee",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/chi",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2240,
        800
      ],
      "id": "6c7b7169-9336-4d36-83f9-44de41164c8f",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Đang tổng hợp...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2060,
        600
      ],
      "id": "8562be3d-33b2-4c6e-89ca-0007e2e8a199",
      "name": "Telegram",
      "webhookId": "cbed7d17-fbed-4d8e-af0f-c1f57d07f34c",
      "credentials": {
        "telegramApi": {
          "id": "DR1F0vbweJZ0A0qb",
          "name": "dinhtranmmo - Bot lấy User ID và ChatID"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05628784-10af-486f-afba-43b99ce913d1",
              "name": "message.text",
              "value": "={{ $json.message.text.split(\" \")[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1900,
        780
      ],
      "id": "0173c18b-b8b8-4252-99b2-0a6bcbed3236",
      "name": "thu chi"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4651c3d-1c65-48c7-9df2-d7fa0a85126f",
              "name": "message.text",
              "value": "={{ $json.message.text.split(\" \")[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1900,
        1000
      ],
      "id": "bbf5142b-6d23-472e-a638-69c2b66009f9",
      "name": "số tiền"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e24ff13-67e3-40d9-8085-7cb59fbc06e0",
              "name": "message.text",
              "value": "={{ $json.message.text.split(\" \").slice(2).join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2060,
        1120
      ],
      "id": "e85b5fa1-1520-405e-a2d3-a56e21ac31f2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1640,
        960
      ],
      "id": "0fffe984-32ad-4436-b383-20a57a7ed684",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message.text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1420,
        960
      ],
      "id": "af7c51fd-78be-4b05-8201-e079825e1c5f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "inputText": "={{ $json.text[2] }}",
        "categories": {
          "categories": [
            {
              "category": "đầu tư",
              "description": "các hoạt động đầu tư: chứng khoán, cổ phiếu, chứng chỉ quỹ"
            },
            {
              "category": "cá nhân",
              "description": "các hoạt động cá nhân: chi tiền học tập, mua sắm"
            },
            {
              "category": "gia đình",
              "description": "các hoạt động gia đình: mua đồ gia dụng, lì xì"
            }
          ]
        },
        "options": {
          "fallback": "other"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -1200,
        960
      ],
      "id": "1bcd398a-f850-4306-91ee-42d1b7d4c7e8",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1120,
        1180
      ],
      "id": "1ef52b04-4271-4af5-afde-3e6319703f65",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c734a6e6-68eb-4318-8357-0d86902843bb",
              "name": "text",
              "value": "={{ $json.text.append(\"cá nhân\") }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -740,
        960
      ],
      "id": "36558d59-0255-4115-9e7d-847cd52ea0c8",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c734a6e6-68eb-4318-8357-0d86902843bb",
              "name": "text",
              "value": "={{ $json.text.append(\"khác\") }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -860,
        1220
      ],
      "id": "3b72e1bc-7a05-4737-af7a-b5d1959aed4e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c734a6e6-68eb-4318-8357-0d86902843bb",
              "name": "text",
              "value": "={{ $json.text.append(\"đầu tư\") }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -740,
        740
      ],
      "id": "58d06bf1-c0ee-4a59-8115-6b78a77f37c6",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c734a6e6-68eb-4318-8357-0d86902843bb",
              "name": "text",
              "value": "={{ $json.text.append(\"gia đình\") }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -680,
        1120
      ],
      "id": "476cd0d9-da3a-4a74-8954-ccf90ddf559b",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f89b36b-9942-47df-8d5e-cf714c4c5497",
              "leftValue": "={{ $json.text[0] }}",
              "rightValue": "/thu",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -520,
        960
      ],
      "id": "7e462fbe-3f95-42f9-b9c5-827bb5cdb9d6",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ngày": "={{ $('Telegram Trigger').item.json.message.date.toDateTime('s') }}",
            "Thu": "={{ $json.text[1] }}",
            "Mục đích": "={{ $json.text[2] }}",
            "Danh mục": "={{ $json.text[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thu",
              "displayName": "Thu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi",
              "displayName": "Chi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Danh mục",
              "displayName": "Danh mục",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -300,
        860
      ],
      "id": "3580f34c-4dbe-4213-99f3-e16b50e6a814",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2040670244,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=2040670244"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:B2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -80,
        860
      ],
      "id": "52ac9962-b451-499a-8b8d-b285fa9a9886",
      "name": "Google Sheets1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tôi vừa làm 1 sổ thu chi. Hãy đánh giá khoản thu của tôi, nhận xét một cách thú vị và hài hước, nhớ kèm tổng thu trong bình luận.\nSố tiền đã thu: {{ $('Google Sheets').item.json.Thu }}\nTổng thu:  {{ $json['Tổng thu'] }}\nMục đích: {{ $('Google Sheets').item.json['Mục đích'] }}\nDanh mục: {{ $('Google Sheets').item.json['Danh mục'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        140,
        860
      ],
      "id": "f3951d82-7cd7-4099-ba04-b6ebdd998e95",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        180,
        1080
      ],
      "id": "2d3f9a30-46ab-44c0-80eb-2deaafa586fc",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        500,
        840
      ],
      "id": "e4f65870-095d-44d2-971b-6594a33fa7a6",
      "name": "Telegram1",
      "webhookId": "b7dc22cc-d88b-443e-a3bb-42f527c69f1f"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ngày": "={{ $('Telegram Trigger').item.json.message.date.toDateTime('s') }}",
            "Thu": "=",
            "Mục đích": "={{ $json.text[2] }}",
            "Danh mục": "={{ $json.text[3] }}",
            "Chi": "={{ $json.text[1] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thu",
              "displayName": "Thu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi",
              "displayName": "Chi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Danh mục",
              "displayName": "Danh mục",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -260,
        1140
      ],
      "id": "701dee1b-e445-4e84-bbf1-27329e90ad73",
      "name": "Google Sheets2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2040670244,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=2040670244"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:B2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -40,
        1140
      ],
      "id": "9fc05ba7-80c3-437c-afbb-e48bd7e34c29",
      "name": "Google Sheets3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tôi vừa làm 1 sổ thu chi. Hãy đánh giá khoản chi của tôi, nhận xét một cách thú vị và hài hước, nhớ kèm tổng chi trong bình luận.\nSố tiền đã chi: {{ $('Google Sheets2').item.json.Chi }}\nTổng chi:  {{ $json['Tổng chi'] }}\nMục đích: {{ $('Google Sheets2').item.json['Mục đích'] }}\nDanh mục: {{ $('Google Sheets2').item.json['Danh mục'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        180,
        1140
      ],
      "id": "2c64330b-bc7a-44b8-8568-3d7bcf6e7197",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        220,
        1360
      ],
      "id": "38f1a384-66ea-420b-b360-67b73b6fdc26",
      "name": "Google Gemini Chat Model2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        540,
        1160
      ],
      "id": "3082bf8b-f92e-4aa7-ae71-a02f02467574",
      "name": "Telegram2",
      "webhookId": "b7dc22cc-d88b-443e-a3bb-42f527c69f1f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f89b36b-9942-47df-8d5e-cf714c4c5497",
              "leftValue": "={{ $json.text[0] }}",
              "rightValue": "/thu",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        180
      ],
      "id": "fa753c99-7617-49d1-8648-d93362720585",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ngày": "={{ $('Telegram Trigger').item.json.message.date.toDateTime('s') }}",
            "Thu": "={{ $json.text[1] }}",
            "Mục đích": "={{ $json.text[2] }}",
            "Danh mục": "={{ $json.text[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thu",
              "displayName": "Thu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi",
              "displayName": "Chi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Danh mục",
              "displayName": "Danh mục",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -260,
        80
      ],
      "id": "f30c6352-28be-407b-9e37-bd3e7e39ef0a",
      "name": "Google Sheets4"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2040670244,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=2040670244"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:B2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -40,
        80
      ],
      "id": "a5b4ab27-086d-4075-a920-0317b80e07e6",
      "name": "Google Sheets5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tôi vừa làm 1 sổ thu chi. Hãy đánh giá khoản thu của tôi, nhận xét một cách thú vị và hài hước, nhớ kèm tổng thu trong bình luận.\nSố tiền đã thu: {{ $('Google Sheets4').item.json.Thu }}\nTổng thu:  {{ $json['Tổng thu'] }}\nMục đích: {{ $('Google Sheets4').item.json['Mục đích'] }}\nDanh mục: {{ $('Google Sheets4').item.json['Danh mục'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        180,
        80
      ],
      "id": "e7d37fdf-fdd1-4045-86d1-0436313bb11c",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        220,
        300
      ],
      "id": "37bfa00e-500f-4889-addc-711527193aa6",
      "name": "Google Gemini Chat Model3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        540,
        60
      ],
      "id": "07e91cb5-8fce-4427-b2c8-26f56c6073f6",
      "name": "Telegram3",
      "webhookId": "b7dc22cc-d88b-443e-a3bb-42f527c69f1f"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ngày": "={{ $('Telegram Trigger').item.json.message.date.toDateTime('s') }}",
            "Thu": "=",
            "Mục đích": "={{ $json.text[2] }}",
            "Danh mục": "={{ $json.text[3] }}",
            "Chi": "={{ $json.text[1] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thu",
              "displayName": "Thu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi",
              "displayName": "Chi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Danh mục",
              "displayName": "Danh mục",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -220,
        360
      ],
      "id": "0180abc6-2673-4c87-a94e-9eb2b7c5ca8e",
      "name": "Google Sheets6"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2040670244,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=2040670244"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:B2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        360
      ],
      "id": "d1a898db-02a8-416b-9506-a7292c7b80e6",
      "name": "Google Sheets7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tôi vừa làm 1 sổ thu chi. Hãy đánh giá khoản chi của tôi, nhận xét một cách thú vị và hài hước, nhớ kèm tổng chi trong bình luận.\nSố tiền đã chi: {{ $('Google Sheets6').item.json.Chi }}\nTổng chi:  {{ $json['Tổng chi'] }}\nMục đích: {{ $('Google Sheets6').item.json['Mục đích'] }}\nDanh mục: {{ $('Google Sheets6').item.json['Danh mục'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        360
      ],
      "id": "a5add8b7-f354-47bb-84a5-e5fac50bfbbf",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        260,
        580
      ],
      "id": "f597bf31-e207-4180-9016-6ac9c80451e0",
      "name": "Google Gemini Chat Model4"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        380
      ],
      "id": "08f02fec-07b7-435e-9bf6-7c19863aecb7",
      "name": "Telegram4",
      "webhookId": "b7dc22cc-d88b-443e-a3bb-42f527c69f1f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f89b36b-9942-47df-8d5e-cf714c4c5497",
              "leftValue": "={{ $json.text[0] }}",
              "rightValue": "/thu",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        1740
      ],
      "id": "92985e3a-3430-4e78-a937-58cf2c65dcef",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ngày": "={{ $('Telegram Trigger').item.json.message.date.toDateTime('s') }}",
            "Thu": "={{ $json.text[1] }}",
            "Mục đích": "={{ $json.text[2] }}",
            "Danh mục": "={{ $json.text[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thu",
              "displayName": "Thu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi",
              "displayName": "Chi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Danh mục",
              "displayName": "Danh mục",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -180,
        1640
      ],
      "id": "744590ed-8b4b-47ce-a1f5-ec82446263a7",
      "name": "Google Sheets8"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2040670244,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=2040670244"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:B2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        40,
        1640
      ],
      "id": "5afbc7f2-7e93-438c-bf19-ab55158b4f59",
      "name": "Google Sheets9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tôi vừa làm 1 sổ thu chi. Hãy đánh giá khoản thu của tôi, nhận xét một cách thú vị và hài hước, nhớ kèm tổng thu trong bình luận.\nSố tiền đã thu: {{ $('Google Sheets8').item.json.Thu }}\nTổng thu:  {{ $json['Tổng thu'] }}\nMục đích: {{ $('Google Sheets8').item.json['Mục đích'] }}\nDanh mục: {{ $('Google Sheets8').item.json['Danh mục'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        260,
        1640
      ],
      "id": "7310b301-4e84-4f9e-8cd9-e1ea8c23e111",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        300,
        1860
      ],
      "id": "b265a1ca-c54f-4c77-9128-b8881f5a190f",
      "name": "Google Gemini Chat Model5"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        620,
        1620
      ],
      "id": "367b9bf1-82d6-4771-b017-7d10ff1d7ce5",
      "name": "Telegram5",
      "webhookId": "b7dc22cc-d88b-443e-a3bb-42f527c69f1f"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ngày": "={{ $('Telegram Trigger').item.json.message.date.toDateTime('s') }}",
            "Thu": "=",
            "Mục đích": "={{ $json.text[2] }}",
            "Danh mục": "={{ $json.text[3] }}",
            "Chi": "={{ $json.text[1] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thu",
              "displayName": "Thu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi",
              "displayName": "Chi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Danh mục",
              "displayName": "Danh mục",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -140,
        1920
      ],
      "id": "691ad6ad-7472-4cba-8bb0-6cbb2ab0a5de",
      "name": "Google Sheets10"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2040670244,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=2040670244"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:B2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        80,
        1920
      ],
      "id": "55215555-e809-4389-a27c-ee01534ef531",
      "name": "Google Sheets11"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tôi vừa làm 1 sổ thu chi. Hãy đánh giá khoản chi của tôi, nhận xét một cách thú vị và hài hước, nhớ kèm tổng chi trong bình luận.\nSố tiền đã chi: {{ $('Google Sheets10').item.json.Chi }}\nTổng chi:  {{ $json['Tổng chi'] }}\nMục đích: {{ $('Google Sheets10').item.json['Mục đích'] }}\nDanh mục: {{ $('Google Sheets10').item.json['Danh mục'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        300,
        1920
      ],
      "id": "8c5dcd4b-e3f4-42e6-b489-577e88419777",
      "name": "AI Agent5"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        340,
        2140
      ],
      "id": "e734bcd7-10d1-4ede-ba59-012cd3d264bc",
      "name": "Google Gemini Chat Model6"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        1940
      ],
      "id": "769b2b36-106d-4716-b34c-3319156a3109",
      "name": "Telegram6",
      "webhookId": "b7dc22cc-d88b-443e-a3bb-42f527c69f1f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f89b36b-9942-47df-8d5e-cf714c4c5497",
              "leftValue": "={{ $json.text[0] }}",
              "rightValue": "/thu",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -660,
        2580
      ],
      "id": "8d21de9e-e17f-4a46-9166-d55aa59575ab",
      "name": "If4"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ngày": "={{ $('Telegram Trigger').item.json.message.date.toDateTime('s') }}",
            "Thu": "={{ $json.text[1] }}",
            "Mục đích": "={{ $json.text[2] }}",
            "Danh mục": "={{ $json.text[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thu",
              "displayName": "Thu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi",
              "displayName": "Chi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Danh mục",
              "displayName": "Danh mục",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -440,
        2480
      ],
      "id": "f7c89cca-5e01-4700-91b3-720552f70a9e",
      "name": "Google Sheets12"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2040670244,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=2040670244"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:B2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -220,
        2480
      ],
      "id": "a56a2f56-1c20-473a-b7ee-d917a14c1071",
      "name": "Google Sheets13"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tôi vừa làm 1 sổ thu chi. Hãy đánh giá khoản thu của tôi, nhận xét một cách thú vị và hài hước, nhớ kèm tổng thu trong bình luận.\nSố tiền đã thu: {{ $('Google Sheets12').item.json.Thu }}\nTổng thu:  {{ $json['Tổng thu'] }}\nMục đích: {{ $('Google Sheets12').item.json['Mục đích'] }}\nDanh mục: {{ $('Google Sheets12').item.json['Danh mục'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        0,
        2480
      ],
      "id": "12ecf4d8-2113-45cc-bb30-300924d71d71",
      "name": "AI Agent6"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        40,
        2700
      ],
      "id": "37b0db3b-23ba-4b32-b4ef-0b4d75fe041c",
      "name": "Google Gemini Chat Model7"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        360,
        2460
      ],
      "id": "0d1ae613-c04c-49d3-863f-054443333d11",
      "name": "Telegram7",
      "webhookId": "b7dc22cc-d88b-443e-a3bb-42f527c69f1f"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ngày": "={{ $('Telegram Trigger').item.json.message.date.toDateTime('s') }}",
            "Thu": "=",
            "Mục đích": "={{ $json.text[2] }}",
            "Danh mục": "={{ $json.text[3] }}",
            "Chi": "={{ $json.text[1] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thu",
              "displayName": "Thu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi",
              "displayName": "Chi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Danh mục",
              "displayName": "Danh mục",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -400,
        2760
      ],
      "id": "4a769e3d-d9e2-41f6-ad1c-6a1e8d157d2a",
      "name": "Google Sheets14"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2040670244,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=2040670244"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:B2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -180,
        2760
      ],
      "id": "a1791c4d-0912-4d4a-bcee-4ae0c0c81c54",
      "name": "Google Sheets15"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tôi vừa làm 1 sổ thu chi. Hãy đánh giá khoản chi của tôi, nhận xét một cách thú vị và hài hước, nhớ kèm tổng chi trong bình luận.\nSố tiền đã chi: {{ $('Google Sheets14').item.json.Chi }}\nTổng chi:  {{ $json['Tổng chi'] }}\nMục đích: {{ $('Google Sheets14').item.json['Mục đích'] }}\nDanh mục: {{ $('Google Sheets14').item.json['Danh mục'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        40,
        2760
      ],
      "id": "e156d351-061d-4c14-bf3f-ce5ca7593915",
      "name": "AI Agent7"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        2980
      ],
      "id": "1cc411e5-aa4a-4494-b952-540e3df53844",
      "name": "Google Gemini Chat Model8"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        2780
      ],
      "id": "2663cf7b-0a5a-4721-abfd-bc9746559319",
      "name": "Telegram8",
      "webhookId": "b7dc22cc-d88b-443e-a3bb-42f527c69f1f"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-02T15:12:25.073Z",
  "versionId": "0b4417ad-a0c2-4e1d-8e5e-34c1d065f8ce"
}