credentials/5QABAbVQegbszV5N.json
{
  "active": false,
  "connections": {
    "Globals": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "JSON formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON formatting": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Return": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-03T04:42:36.742Z",
  "id": "5QABAbVQegbszV5N",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Backup Credentials n8n",
  "nodes": [
    {
      "parameters": {},
      "id": "e411ef47-8558-40e2-a276-91d92b152f38",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        300,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 751,
        "width": 2407,
        "color": 6
      },
      "id": "5b2848ab-bf4a-42c0-b716-2ca2f86a36ec",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -140,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "dc4930d6-5351-400a-9e15-d81e8f50de9f",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        1740,
        840
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "ca556d1f-5e2c-4534-994b-3a6a080005b9",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1000,
        720
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "bc7f86a2-2959-4c7f-a4cd-a543f666c3e3",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        640,
        740
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "73524890-3817-46cb-9601-1259b7c07689",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        640,
        1000
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"
      },
      "id": "66f1d514-5f1c-4ce2-9958-98e3023a6503",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        840,
        1000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.github_status}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "af972e05-61c1-4df6-b48d-3978329403a8",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1060,
        1000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a2aa75b1-21d6-4468-8030-16889d0baca7",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1280,
        840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a615283c-d0e7-4136-b6e2-38350a5d51f2",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1280,
        1000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "b33d4066-355d-486d-870c-6f040efa001f",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1280,
        1160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.name }}"
        },
        "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "c9c41216-03a8-4d74-9d55-2a6e279a4a4e",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        1500,
        1160
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "JKpvjUybyvaj5Mfz",
          "name": "GitHub backup"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.name }}"
        },
        "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "2dc1c887-f703-41bc-b0b4-9303d67c1065",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        1500,
        980
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "JKpvjUybyvaj5Mfz",
          "name": "GitHub backup"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "99af34b1-1d53-41d5-94a5-f759d42d505a",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        900,
        360
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "67fb8e3a-c2dd-4803-bc17-8421e5d07d31",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        300,
        460
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Sao lưu vào GitHub\nQuy trình công việc này sẽ sao lưu tất cả thông tin xác thực của phiên bản vào GitHub.\n\nCác tệp được lưu dưới dạng `ID.json` cho tên tệp.\n\n### Thiết lập\nMở nút `Globals` và cập nhật các giá trị bên dưới 👇\n\n- **repo.owner:** tên người dùng Github của bạn\n- **repo.name:** tên kho lưu trữ của bạn\n- **repo.path:** thư mục để sử dụng trong kho lưu trữ. Nếu không tồn tại, thư mục sẽ được tạo.\n\nNếu tên người dùng của bạn là `john-doe` và kho lưu trữ của bạn được gọi là `n8n-backups` và bạn muốn thông tin xác thực được đưa vào thư mục `credentials`, bạn sẽ đặt:\n\n- repo.owner - tranvandinh0906\n- repo.name - backup-n8n\n- repo.path - workflows/\n\nQuy trình công việc tự gọi bằng quy trình công việc phụ để giúp giảm mức sử dụng bộ nhớ.",
        "height": 596.4810912485963,
        "width": 365.19481715599653,
        "color": 4
      },
      "id": "29807e94-1dc9-46fe-8a9e-d88d00714eb7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -140,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 435,
        "width": 1489,
        "color": 7
      },
      "id": "f8a3212c-fb26-4a51-8efd-2675cb644805",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.name }}"
        },
        "filePath": "={{ $json.repo.path }}{{ $('Execute Workflow Trigger').item.json.id }}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "a1bd19c4-fcf7-40d5-9df4-7d5d9e93fba3",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        440,
        740
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "JKpvjUybyvaj5Mfz",
          "name": "GitHub backup"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
              "name": "repo.owner",
              "type": "string",
              "value": "tranvandinh0906"
            },
            {
              "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
              "name": "repo.name",
              "type": "string",
              "value": "backup_n8n"
            },
            {
              "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
              "name": "repo.path",
              "type": "string",
              "value": "credentials/"
            }
          ]
        },
        "options": {}
      },
      "id": "80907f1e-d9a4-49db-8c13-866ccf32d1b0",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        240,
        900
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "command": "n8n export:workflow --all"
      },
      "id": "a3aac8ab-0c9e-4256-9b23-4b87316e86d5",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        520,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n\n    // Format the JSON with indentation\n    return jsonObject; // Return the parsed object directly\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Output the beautified JSON, ensuring each entry is in an object with a 'json' key\nconst output = beautifiedJson.map(entry => ({ json: entry }));\n\n// Return the output\nreturn output;\n"
      },
      "id": "76b6bcd1-3d9c-4baf-aaed-9e22b1538fd0",
      "name": "JSON formatting",
      "type": "n8n-nodes-base.code",
      "position": [
        700,
        360
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Edit this node 👇",
        "height": 80,
        "width": 150,
        "color": 4
      },
      "id": "1f7c0706-e3d1-46ec-975d-2f3799b65655",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        200,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id }}",
        "mode": "each",
        "options": {}
      },
      "id": "03bc210d-84c7-4f82-8c1e-186e11dba85f",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1180,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "a370aa08-bf7a-4696-a9ef-b83c9e962f8e",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -40,
        1020
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "chatId": "5846388554",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        },
        "path": "5c40e2be-b8bb-407f-930e-e91543c2bda2"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1520,
        260
      ],
      "id": "bc342002-dd8f-4c4d-9883-a8082917f096",
      "name": "Telegram",
      "webhookId": "5c40e2be-b8bb-407f-930e-e91543c2bda2",
      "credentials": {
        "telegramApi": {
          "id": "OcRPzTFrrHbXXaiH",
          "name": "backup_n8n_dinhtranmmo_bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Đếm số lượng item từ node trước\nconst itemCount = items.length;\n\nreturn [\n  {\n    json: {\n      message: `Đã backup xong ${itemCount} workflow!`\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        260
      ],
      "id": "1f4c883d-a840-4c66-96ae-5a70014995c4",
      "name": "Code"
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "createdAt": "2025-03-31T05:01:58.955Z",
          "updatedAt": "2025-03-31T05:02:47.176Z",
          "id": "DR1F0vbweJZ0A0qb",
          "name": "dinhtranmmo - Bot lấy User ID và ChatID",
          "data": {
            "accessToken": "7900821057:AAHebw3DWpIVTxZQwrKFHG0oGgPAqk0x8vI"
          },
          "type": "telegramApi",
          "isManaged": false
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-04-03T04:42:28.708Z",
      "updatedAt": "2025-04-03T04:42:28.708Z",
      "id": "NDfjzmO2xixBm0kw",
      "name": "n8n"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-03T04:42:36.742Z",
  "versionId": "874b4b6b-fcb7-4bff-94f0-b267c32366ce"
}