credentials/HVLI2aoYBDnftUVt.json
{
  "active": true,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Thông báo note thành công",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-31T10:14:27.216Z",
  "id": "HVLI2aoYBDnftUVt",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Ghi chú trong sheet",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        20
      ],
      "id": "5be32849-2915-4dce-a4d1-513490694910",
      "name": "Telegram Trigger",
      "webhookId": "a3cfb936-3544-42ed-92a8-47b927ab5057",
      "notesInFlow": true,
      "credentials": {
        "telegramApi": {
          "id": "DR1F0vbweJZ0A0qb",
          "name": "dinhtranmmo - Bot lấy User ID và ChatID"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Mô tả",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "f6300d8a-0f24-41d4-83d2-14bea2d721f1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mô tả"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4d2a0245-c49b-4da5-8a07-746342c902fa",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/luu",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Đã lưu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5f5ea9b6-8def-48fc-b37a-40e0ed17b8be",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/xoa",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Xoá dữ liệu"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -240,
        0
      ],
      "id": "ecdf633d-c0c6-483a-ab05-0c0641b56994",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Sai cú pháp, vui lòng nhập đúng cú pháp để lưu như sau:|Mô tả: \"Mô tả nội dung\" Nội dung: \"Nội dung cần lưu\"Cú pháp xem nội dung đã lưu: /luu",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        500
      ],
      "id": "438190de-4081-4de7-8c11-42609167b8e4",
      "name": "Telegram",
      "webhookId": "300292cf-0d32-476c-9cdd-b17272a1deca",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "DR1F0vbweJZ0A0qb",
          "name": "dinhtranmmo - Bot lấy User ID và ChatID"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const message = item.json.message || {};\n  const messageText = message.text || \"\";\n  const date = message.date || \"\";\n  const id = message.from ? message.from.id : \"\";\n\n  const moTaMatch = messageText.match(/Mô tả:\\s*(.*)/);\n  const noiDungMatch = messageText.match(/Nội dung:\\s*(.*)/);\n\n  const moTa = moTaMatch ? moTaMatch[1].split(\"\\n\")[0].trim() : \"\";\n  const noiDung = noiDungMatch ? noiDungMatch[1].trim() : \"\";\n\n  return {\n    json: {\n      moTa,\n      noiDung,\n      date,\n      id\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        -220
      ],
      "id": "0eb99e09-6a5b-4740-aa04-d6da53cbbdc7",
      "name": "Code",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3143b299-c6de-4839-9ff7-2b5c414114a5",
              "name": "message.from.id",
              "value": "={{ $json.message.from.id }}",
              "type": "number"
            },
            {
              "id": "6312cacb-c9f5-495c-8938-73a078f1b375",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "33cb78ec-b859-436d-8bcf-073f19486fc5",
              "name": "message.date",
              "value": "={{ $json.message.date.toDateTime('s').format('dd-MM-yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -220
      ],
      "id": "9658a79a-99cd-48ca-9206-1f41414bbb17",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1NF90yzZH-zjMmnWVbQL2DGIDB3khqZmCswfx7WMysfs/edit?gid=1396734119#gid=1396734119",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1396734119,
          "mode": "list",
          "cachedResultName": "Trang tính2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NF90yzZH-zjMmnWVbQL2DGIDB3khqZmCswfx7WMysfs/edit#gid=1396734119"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Mô tả": "={{ $json.moTa }}",
            "Nội dung": "={{ $json.noiDung }}",
            "Date": "={{ $json.date }}",
            "Chat ID": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Mô tả",
              "displayName": "Mô tả",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nội dung",
              "displayName": "Nội dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chat ID",
              "displayName": "Chat ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        820,
        -220
      ],
      "id": "2029f013-236a-47a1-81f4-e662a2730741",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "t2iwKug7QMR0m7yJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json[\"Chat ID\"] }}",
        "text": "=Ghi chú thành công với thông tin như sau:\n\nMô tả: {{ $json[\"Mô tả\"] }}\nNội dụng/link: {{ $json[\"Nội dung\"] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1060,
        -220
      ],
      "id": "fae5cff8-24a3-46ff-b263-619ebb613ede",
      "name": "Thông báo note thành công",
      "webhookId": "300292cf-0d32-476c-9cdd-b17272a1deca",
      "credentials": {
        "telegramApi": {
          "id": "DR1F0vbweJZ0A0qb",
          "name": "dinhtranmmo - Bot lấy User ID và ChatID"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1NF90yzZH-zjMmnWVbQL2DGIDB3khqZmCswfx7WMysfs/edit?gid=1396734119#gid=1396734119",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1396734119,
          "mode": "list",
          "cachedResultName": "Trang tính2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NF90yzZH-zjMmnWVbQL2DGIDB3khqZmCswfx7WMysfs/edit#gid=1396734119"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        320,
        -20
      ],
      "id": "42caa195-6dd5-47b5-99b9-158a14af15a3",
      "name": "Google Sheets1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "t2iwKug7QMR0m7yJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json[\"Chat ID\"] }}",
        "text": "=Nội dung đã lưu:\n\nHàng số: {{ $json.row_number }}\nMô tả: {{ $json[\"Mô tả\"] }}\nNội dụng: {{ $json[\"Nội dung\"] }}\nNgày lưu: {{ $json.Date }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        0
      ],
      "id": "37a4dc02-07cf-4fa7-ad6d-213d6570898f",
      "name": "Telegram1",
      "webhookId": "300292cf-0d32-476c-9cdd-b17272a1deca",
      "credentials": {
        "telegramApi": {
          "id": "DR1F0vbweJZ0A0qb",
          "name": "dinhtranmmo - Bot lấy User ID và ChatID"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1NF90yzZH-zjMmnWVbQL2DGIDB3khqZmCswfx7WMysfs/edit?gid=1396734119#gid=1396734119",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1396734119,
          "mode": "list",
          "cachedResultName": "Trang tính2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NF90yzZH-zjMmnWVbQL2DGIDB3khqZmCswfx7WMysfs/edit#gid=1396734119"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        320,
        200
      ],
      "id": "ccdf765d-2b17-4937-84cf-002b2ac6e3e3",
      "name": "Google Sheets3",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "t2iwKug7QMR0m7yJ",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fed5b54-dcfb-48bb-af37-767c92b7c7a6",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        200
      ],
      "id": "b486f675-659d-4538-8a2e-8a7554ceeea0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1NF90yzZH-zjMmnWVbQL2DGIDB3khqZmCswfx7WMysfs/edit?gid=1396734119#gid=1396734119",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1396734119,
          "mode": "list",
          "cachedResultName": "Trang tính2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NF90yzZH-zjMmnWVbQL2DGIDB3khqZmCswfx7WMysfs/edit#gid=1396734119"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        760,
        200
      ],
      "id": "48916c66-a018-488c-98dd-0328bff4df5b",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "t2iwKug7QMR0m7yJ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-01T11:35:05.000Z",
  "versionId": "489c2717-d948-47db-8d44-6fe8346e5530"
}