credentials/rVllaPsdnfGZVZdZ.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "thu chi",
            "type": "main",
            "index": 0
          },
          {
            "node": "số tiền",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "thu chi": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "số tiền": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets6": {
      "main": [
        [
          {
            "node": "Google Sheets7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets7": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Telegram4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Google Sheets8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets8": {
      "main": [
        [
          {
            "node": "Google Sheets9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets9": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Telegram5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets10": {
      "main": [
        [
          {
            "node": "Google Sheets11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets11": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "Telegram6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Google Sheets12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets12": {
      "main": [
        [
          {
            "node": "Google Sheets13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets13": {
      "main": [
        [
          {
            "node": "AI Agent6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent6": {
      "main": [
        [
          {
            "node": "Telegram7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent6",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets14": {
      "main": [
        [
          {
            "node": "Google Sheets15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets15": {
      "main": [
        [
          {
            "node": "AI Agent7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent7": {
      "main": [
        [
          {
            "node": "Telegram8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent7",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-03T06:34:52.712Z",
  "id": "rVllaPsdnfGZVZdZ",
  "meta": null,
  "name": "Sổ thu chi",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -3000,
        740
      ],
      "id": "953d1677-c196-4a9d-bcf9-61857bb447d5",
      "name": "Telegram Trigger",
      "webhookId": "4b91fe40-4bcd-4dd9-b293-aca2a87fe09c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "95611c9a-d609-4c57-9a12-72674d2c0e55",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/thu",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "f148e624-bab9-47fe-8e29-f6985f4cddee",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/chi",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2780,
        740
      ],
      "id": "d0ace31e-2ee8-4edb-91a5-8d6dda3975e3",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Đang tổng hợp...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2600,
        540
      ],
      "id": "aa8bcf6f-9049-47b4-aa01-ce17516de617",
      "name": "Telegram",
      "webhookId": "cbed7d17-fbed-4d8e-af0f-c1f57d07f34c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05628784-10af-486f-afba-43b99ce913d1",
              "name": "message.text",
              "value": "={{ $json.message.text.split(\" \")[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2440,
        720
      ],
      "id": "e448868b-58ab-4024-adf7-61fe4ee1bff2",
      "name": "thu chi"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4651c3d-1c65-48c7-9df2-d7fa0a85126f",
              "name": "message.text",
              "value": "={{ $json.message.text.split(\" \")[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2440,
        940
      ],
      "id": "20423e98-2d76-4a3d-95d1-759a2d89de49",
      "name": "số tiền"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e24ff13-67e3-40d9-8085-7cb59fbc06e0",
              "name": "message.text",
              "value": "={{ $json.message.text.split(\" \").slice(2).join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2600,
        1060
      ],
      "id": "ecc95c8f-ebbf-4327-b717-d09e31d2e20e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2180,
        900
      ],
      "id": "7300dd07-87df-4f95-8b8f-0d79fa094b86",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message.text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1960,
        900
      ],
      "id": "f0a8da22-2af4-4adc-92d2-919e1892ea17",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "inputText": "={{ $json.text[2] }}",
        "categories": {
          "categories": [
            {
              "category": "đầu tư",
              "description": "các hoạt động đầu tư: chứng khoán, cổ phiếu, chứng chỉ quỹ"
            },
            {
              "category": "cá nhân",
              "description": "các hoạt động cá nhân: chi tiền học tập, mua sắm"
            },
            {
              "category": "gia đình",
              "description": "các hoạt động gia đình: mua đồ gia dụng, lì xì"
            }
          ]
        },
        "options": {
          "fallback": "other"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -1740,
        900
      ],
      "id": "5f2ab060-41d4-4861-a198-eaa1b42fca11",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1660,
        1120
      ],
      "id": "4e32f5a8-0514-4831-930a-4d60e926b097",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c734a6e6-68eb-4318-8357-0d86902843bb",
              "name": "text",
              "value": "={{ $json.text.append(\"cá nhân\") }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        900
      ],
      "id": "1197dd75-dfc0-432f-9468-20f682c47763",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c734a6e6-68eb-4318-8357-0d86902843bb",
              "name": "text",
              "value": "={{ $json.text.append(\"khác\") }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1400,
        1160
      ],
      "id": "7e0381bf-07cd-42cf-98d7-57689004ee96",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c734a6e6-68eb-4318-8357-0d86902843bb",
              "name": "text",
              "value": "={{ $json.text.append(\"đầu tư\") }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        680
      ],
      "id": "e8de4654-b4bf-44a3-a080-cadfdc838765",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c734a6e6-68eb-4318-8357-0d86902843bb",
              "name": "text",
              "value": "={{ $json.text.append(\"gia đình\") }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1220,
        1060
      ],
      "id": "2e8a91cf-c8c4-4bf4-8200-0300e9eb70a0",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f89b36b-9942-47df-8d5e-cf714c4c5497",
              "leftValue": "={{ $json.text[0] }}",
              "rightValue": "/thu",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1060,
        900
      ],
      "id": "ce0840b7-9c7c-4119-8a24-a910c6946c1e",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ngày": "={{ $('Telegram Trigger').item.json.message.date.toDateTime('s') }}",
            "Thu": "={{ $json.text[1] }}",
            "Mục đích": "={{ $json.text[2] }}",
            "Danh mục": "={{ $json.text[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thu",
              "displayName": "Thu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi",
              "displayName": "Chi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Danh mục",
              "displayName": "Danh mục",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -840,
        800
      ],
      "id": "03168e20-5249-463c-ba15-3760e13cac2b",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2040670244,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=2040670244"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:B2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -620,
        800
      ],
      "id": "6b19d935-9def-4039-aa3c-9ec21dd10496",
      "name": "Google Sheets1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tôi vừa làm 1 sổ thu chi. Hãy đánh giá khoản thu của tôi, nhận xét một cách thú vị và hài hước, nhớ kèm tổng thu trong bình luận.\nSố tiền đã thu: {{ $('Google Sheets').item.json.Thu }}\nTổng thu:  {{ $json['Tổng thu'] }}\nMục đích: {{ $('Google Sheets').item.json['Mục đích'] }}\nDanh mục: {{ $('Google Sheets').item.json['Danh mục'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -400,
        800
      ],
      "id": "07fbd4ab-58bc-4a99-94f8-8c7e229c075f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -360,
        1020
      ],
      "id": "85b28806-7cb4-4994-ba3a-aeb4a4e6b111",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -40,
        780
      ],
      "id": "52f33f09-0697-43b2-9521-51dcb02bcbf9",
      "name": "Telegram1",
      "webhookId": "b7dc22cc-d88b-443e-a3bb-42f527c69f1f"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ngày": "={{ $('Telegram Trigger').item.json.message.date.toDateTime('s') }}",
            "Thu": "=",
            "Mục đích": "={{ $json.text[2] }}",
            "Danh mục": "={{ $json.text[3] }}",
            "Chi": "={{ $json.text[1] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thu",
              "displayName": "Thu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi",
              "displayName": "Chi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Danh mục",
              "displayName": "Danh mục",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -800,
        1080
      ],
      "id": "bed05f05-833c-474a-975a-72bd75ed2312",
      "name": "Google Sheets2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2040670244,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=2040670244"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:B2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -580,
        1080
      ],
      "id": "7c1da4b0-eb55-4e71-b9ef-9169efb63fb4",
      "name": "Google Sheets3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tôi vừa làm 1 sổ thu chi. Hãy đánh giá khoản chi của tôi, nhận xét một cách thú vị và hài hước, nhớ kèm tổng chi trong bình luận.\nSố tiền đã chi: {{ $('Google Sheets2').item.json.Chi }}\nTổng chi:  {{ $json['Tổng chi'] }}\nMục đích: {{ $('Google Sheets2').item.json['Mục đích'] }}\nDanh mục: {{ $('Google Sheets2').item.json['Danh mục'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -360,
        1080
      ],
      "id": "f776969e-c5dd-4bbe-b9f4-42933188fc0d",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -320,
        1300
      ],
      "id": "96b2a699-b4a1-497d-b899-80da89b906a0",
      "name": "Google Gemini Chat Model2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        1100
      ],
      "id": "3e96efd2-dbbb-4100-bcd9-00ac7e7a82ad",
      "name": "Telegram2",
      "webhookId": "b7dc22cc-d88b-443e-a3bb-42f527c69f1f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f89b36b-9942-47df-8d5e-cf714c4c5497",
              "leftValue": "={{ $json.text[0] }}",
              "rightValue": "/thu",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1020,
        120
      ],
      "id": "679f2fe6-adf1-4e07-961e-e400b11bc0ce",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ngày": "={{ $('Telegram Trigger').item.json.message.date.toDateTime('s') }}",
            "Thu": "={{ $json.text[1] }}",
            "Mục đích": "={{ $json.text[2] }}",
            "Danh mục": "={{ $json.text[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thu",
              "displayName": "Thu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi",
              "displayName": "Chi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Danh mục",
              "displayName": "Danh mục",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -800,
        20
      ],
      "id": "e8ca6d13-1682-4fbf-9032-33732c725d12",
      "name": "Google Sheets4"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2040670244,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=2040670244"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:B2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -580,
        20
      ],
      "id": "f2223d98-9345-4c89-aa4e-5e73936f59c1",
      "name": "Google Sheets5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tôi vừa làm 1 sổ thu chi. Hãy đánh giá khoản thu của tôi, nhận xét một cách thú vị và hài hước, nhớ kèm tổng thu trong bình luận.\nSố tiền đã thu: {{ $('Google Sheets4').item.json.Thu }}\nTổng thu:  {{ $json['Tổng thu'] }}\nMục đích: {{ $('Google Sheets4').item.json['Mục đích'] }}\nDanh mục: {{ $('Google Sheets4').item.json['Danh mục'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -360,
        20
      ],
      "id": "b47bcbee-95c4-4470-80e9-b9b4863c441e",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -320,
        240
      ],
      "id": "c18debe3-dacf-4463-bd99-747b465eb12a",
      "name": "Google Gemini Chat Model3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "9b6d8f37-4dbb-4d23-be6e-f331c9aaa212",
      "name": "Telegram3",
      "webhookId": "b7dc22cc-d88b-443e-a3bb-42f527c69f1f"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ngày": "={{ $('Telegram Trigger').item.json.message.date.toDateTime('s') }}",
            "Thu": "=",
            "Mục đích": "={{ $json.text[2] }}",
            "Danh mục": "={{ $json.text[3] }}",
            "Chi": "={{ $json.text[1] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thu",
              "displayName": "Thu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi",
              "displayName": "Chi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Danh mục",
              "displayName": "Danh mục",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -760,
        300
      ],
      "id": "89945318-4b31-4a36-bfb5-f3d5c25dc2fc",
      "name": "Google Sheets6"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2040670244,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=2040670244"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:B2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -540,
        300
      ],
      "id": "3b6d5bff-08d6-4cd0-9a6e-f5e7a6a86b21",
      "name": "Google Sheets7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tôi vừa làm 1 sổ thu chi. Hãy đánh giá khoản chi của tôi, nhận xét một cách thú vị và hài hước, nhớ kèm tổng chi trong bình luận.\nSố tiền đã chi: {{ $('Google Sheets6').item.json.Chi }}\nTổng chi:  {{ $json['Tổng chi'] }}\nMục đích: {{ $('Google Sheets6').item.json['Mục đích'] }}\nDanh mục: {{ $('Google Sheets6').item.json['Danh mục'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -320,
        300
      ],
      "id": "cb81db71-ceb5-42e1-8c4f-ada657523b13",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -280,
        520
      ],
      "id": "5301a725-3e43-4b1b-87b5-8b00789216da",
      "name": "Google Gemini Chat Model4"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        40,
        320
      ],
      "id": "a7588ae2-71bf-47ef-9384-5c69b7042175",
      "name": "Telegram4",
      "webhookId": "b7dc22cc-d88b-443e-a3bb-42f527c69f1f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f89b36b-9942-47df-8d5e-cf714c4c5497",
              "leftValue": "={{ $json.text[0] }}",
              "rightValue": "/thu",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -940,
        1680
      ],
      "id": "290bbb56-5951-4efc-90c1-65631666aece",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ngày": "={{ $('Telegram Trigger').item.json.message.date.toDateTime('s') }}",
            "Thu": "={{ $json.text[1] }}",
            "Mục đích": "={{ $json.text[2] }}",
            "Danh mục": "={{ $json.text[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thu",
              "displayName": "Thu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi",
              "displayName": "Chi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Danh mục",
              "displayName": "Danh mục",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -720,
        1580
      ],
      "id": "be0da03a-b8ce-4240-a708-1bd21050f29f",
      "name": "Google Sheets8"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2040670244,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=2040670244"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:B2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -500,
        1580
      ],
      "id": "9b606347-a590-43fd-97e3-b716534a890f",
      "name": "Google Sheets9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tôi vừa làm 1 sổ thu chi. Hãy đánh giá khoản thu của tôi, nhận xét một cách thú vị và hài hước, nhớ kèm tổng thu trong bình luận.\nSố tiền đã thu: {{ $('Google Sheets8').item.json.Thu }}\nTổng thu:  {{ $json['Tổng thu'] }}\nMục đích: {{ $('Google Sheets8').item.json['Mục đích'] }}\nDanh mục: {{ $('Google Sheets8').item.json['Danh mục'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -280,
        1580
      ],
      "id": "843cc8ab-7385-480f-a5d9-c650924d103b",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -240,
        1800
      ],
      "id": "fe1134e8-413a-4af5-b4a9-2406cbcfdd40",
      "name": "Google Gemini Chat Model5"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        1560
      ],
      "id": "b17b22dc-2b8f-458d-bafe-994fc6eae0c8",
      "name": "Telegram5",
      "webhookId": "b7dc22cc-d88b-443e-a3bb-42f527c69f1f"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ngày": "={{ $('Telegram Trigger').item.json.message.date.toDateTime('s') }}",
            "Thu": "=",
            "Mục đích": "={{ $json.text[2] }}",
            "Danh mục": "={{ $json.text[3] }}",
            "Chi": "={{ $json.text[1] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thu",
              "displayName": "Thu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi",
              "displayName": "Chi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Danh mục",
              "displayName": "Danh mục",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -680,
        1860
      ],
      "id": "1d752692-4c00-43e1-a71a-a5304a347e49",
      "name": "Google Sheets10"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2040670244,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=2040670244"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:B2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -460,
        1860
      ],
      "id": "8a3cebe2-1f00-4d37-8cf2-afb6d15cf379",
      "name": "Google Sheets11"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tôi vừa làm 1 sổ thu chi. Hãy đánh giá khoản chi của tôi, nhận xét một cách thú vị và hài hước, nhớ kèm tổng chi trong bình luận.\nSố tiền đã chi: {{ $('Google Sheets10').item.json.Chi }}\nTổng chi:  {{ $json['Tổng chi'] }}\nMục đích: {{ $('Google Sheets10').item.json['Mục đích'] }}\nDanh mục: {{ $('Google Sheets10').item.json['Danh mục'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -240,
        1860
      ],
      "id": "e902fcf6-8e48-4932-82a3-1d7a4f71a15e",
      "name": "AI Agent5"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -200,
        2080
      ],
      "id": "55115a40-3997-4663-9855-435be447b446",
      "name": "Google Gemini Chat Model6"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        120,
        1880
      ],
      "id": "d8c5122b-df76-407d-8af8-f29a7c0e3eb3",
      "name": "Telegram6",
      "webhookId": "b7dc22cc-d88b-443e-a3bb-42f527c69f1f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f89b36b-9942-47df-8d5e-cf714c4c5497",
              "leftValue": "={{ $json.text[0] }}",
              "rightValue": "/thu",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1200,
        2520
      ],
      "id": "4986b5a7-10ff-4e5f-97ea-49495bfb2347",
      "name": "If4"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ngày": "={{ $('Telegram Trigger').item.json.message.date.toDateTime('s') }}",
            "Thu": "={{ $json.text[1] }}",
            "Mục đích": "={{ $json.text[2] }}",
            "Danh mục": "={{ $json.text[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thu",
              "displayName": "Thu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi",
              "displayName": "Chi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Danh mục",
              "displayName": "Danh mục",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -980,
        2420
      ],
      "id": "dec467a5-b892-41e0-ad58-dc43f3c4f085",
      "name": "Google Sheets12"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2040670244,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=2040670244"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:B2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -760,
        2420
      ],
      "id": "748ac18b-18fc-4e5c-bab8-278ce6dd197a",
      "name": "Google Sheets13"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tôi vừa làm 1 sổ thu chi. Hãy đánh giá khoản thu của tôi, nhận xét một cách thú vị và hài hước, nhớ kèm tổng thu trong bình luận.\nSố tiền đã thu: {{ $('Google Sheets12').item.json.Thu }}\nTổng thu:  {{ $json['Tổng thu'] }}\nMục đích: {{ $('Google Sheets12').item.json['Mục đích'] }}\nDanh mục: {{ $('Google Sheets12').item.json['Danh mục'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -540,
        2420
      ],
      "id": "354a765e-6002-4cc3-a0f4-d94ebe7577db",
      "name": "AI Agent6"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -500,
        2640
      ],
      "id": "cbdd3309-0f58-4840-92ee-f18a7c346c60",
      "name": "Google Gemini Chat Model7"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -180,
        2400
      ],
      "id": "ab229db5-e893-40c8-a1c6-be50cc0cb19f",
      "name": "Telegram7",
      "webhookId": "b7dc22cc-d88b-443e-a3bb-42f527c69f1f"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ngày": "={{ $('Telegram Trigger').item.json.message.date.toDateTime('s') }}",
            "Thu": "=",
            "Mục đích": "={{ $json.text[2] }}",
            "Danh mục": "={{ $json.text[3] }}",
            "Chi": "={{ $json.text[1] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thu",
              "displayName": "Thu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi",
              "displayName": "Chi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Danh mục",
              "displayName": "Danh mục",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -940,
        2700
      ],
      "id": "912f6325-0868-481e-8907-f6972d399be6",
      "name": "Google Sheets14"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2040670244,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dBPHuYjdHOxcSxUE366lvne_QKID7_vdvQpI_ltSxag/edit#gid=2040670244"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:B2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -720,
        2700
      ],
      "id": "f6ad5a52-c309-4110-bd70-e917856fabf5",
      "name": "Google Sheets15"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tôi vừa làm 1 sổ thu chi. Hãy đánh giá khoản chi của tôi, nhận xét một cách thú vị và hài hước, nhớ kèm tổng chi trong bình luận.\nSố tiền đã chi: {{ $('Google Sheets14').item.json.Chi }}\nTổng chi:  {{ $json['Tổng chi'] }}\nMục đích: {{ $('Google Sheets14').item.json['Mục đích'] }}\nDanh mục: {{ $('Google Sheets14').item.json['Danh mục'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -500,
        2700
      ],
      "id": "60715e95-ba1d-4d76-a389-158880bf36b2",
      "name": "AI Agent7"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -460,
        2920
      ],
      "id": "87cd72c1-42db-4bdf-8291-fa16d1a14bda",
      "name": "Google Gemini Chat Model8"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -140,
        2720
      ],
      "id": "929bbec3-f9a2-464f-a0bb-6001245e7194",
      "name": "Telegram8",
      "webhookId": "b7dc22cc-d88b-443e-a3bb-42f527c69f1f"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-03T06:34:52.712Z",
  "versionId": "d39278d9-e130-464b-ac6d-4dc58f84ac5b"
}