credentials/t5lbdYiipLAYTr2f.json
{
  "active": true,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-01T07:15:34.922Z",
  "id": "t5lbdYiipLAYTr2f",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bot telegram lấy ChatID",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        60,
        140
      ],
      "id": "cbca970c-3b43-4fb3-a810-5c1b6955ef12",
      "name": "Telegram Trigger",
      "webhookId": "1dcaa4f6-814d-4995-85c9-5c315933b32e",
      "credentials": {
        "telegramApi": {
          "id": "rizZo0MLJZIw7b71",
          "name": "@Getid_dinhtranmmo_bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9e91a75-8e77-4619-88ae-3be52b42a5fe",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "19633e9d-69e7-475a-a982-bf455380398a",
              "name": "message.chat.id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "9f36d405-4f5b-45c1-8288-5c7bbc1e91d4",
              "name": "message.from.first_name",
              "value": "={{ $json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "a4b8f993-a95e-4a58-be73-5e09295495c1",
              "name": "message.from.last_name",
              "value": "={{ $json.message.from.last_name }}",
              "type": "string"
            },
            {
              "id": "550b69ef-6dbc-4af2-aab5-c5f10d5e1376",
              "name": "message.from.id",
              "value": "={{ $json.message.from.id }}",
              "type": "number"
            },
            {
              "id": "8506bd98-08f2-4aa5-bbd9-319cf035e2f2",
              "name": "message.from.username",
              "value": "={{ $json.message.from.username }}",
              "type": "string"
            },
            {
              "id": "825794b9-40d1-47cd-b876-718fcd3074e4",
              "name": "message.date",
              "value": "={{ $json.message.date }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        140
      ],
      "id": "f6fba7eb-bb12-4a08-b7aa-e8d73b72634d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=Xin chào {{ $json.message.from.last_name }} {{ $json.message.from.first_name }}, mình là bot để giúp bạn lấy ChatID là ID group. \nLiên hệ: https://dinhtranmmo.com\nNhận Ebook Free: https://e.dinhtranmmo.com\n\n👤 Username: @{{ $('Telegram Trigger').item.json.message.from.username }}\n🆔 ID: {{ $json.message.from.id }}\n💬 ID Group Chat: {{ $json.message.chat.id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        460,
        140
      ],
      "id": "475545f8-30ae-4c11-817f-898eb9143629",
      "name": "Telegram",
      "webhookId": "1b2b46cd-0829-47e2-ba78-3ba4d29eafa3",
      "credentials": {
        "telegramApi": {
          "id": "rizZo0MLJZIw7b71",
          "name": "@Getid_dinhtranmmo_bot"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-04-01T09:54:32.424Z",
      "updatedAt": "2025-04-01T09:54:32.424Z",
      "id": "QtnKC1D174ijgzZk",
      "name": "telegram"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-01T09:54:34.000Z",
  "versionId": "589eb827-b2bb-492d-9349-6050987ef6b7"
}